<h1><strong>Admin Page: </strong>All Resources</h1>

<table mat-table [dataSource]="resourceInfo" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let data"> 
        {{ data.id }} 
      </td>
    </ng-container>

    <mat-text-column name="category"></mat-text-column>
    <mat-text-column name="name"></mat-text-column>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let data"> 
        {{ (data.description | slice:0:30)+'...' }} 
      </td>
    </ng-container>

    <mat-text-column name="website"></mat-text-column>
    <mat-text-column name="price"></mat-text-column>

    <ng-container matColumnDef="imageUrl">
      <th mat-header-cell *matHeaderCellDef> Thumbnail </th>
      <td mat-cell *matCellDef="let data">
        <img [src]="data.imageUrl" alt="Resource image"> 
      </td>
    </ng-container>

    <mat-text-column name="tag"></mat-text-column>

    <ng-container matColumnDef="createdBy">
      <th mat-header-cell *matHeaderCellDef> Created By </th>
      <td mat-cell *matCellDef="let data"> {{data.createdBy}} </td>
    </ng-container>

    <mat-text-column name="date"></mat-text-column>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let data">
        <button mat-raised-button color="primary">Edit</button>
        <button mat-raised-button color="warn"
          (click)="openDialog(data.id)">Hide</button>
        </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let eachRow; columns: displayedColumns"></tr>
  </table>


<!-- Just checking the format of the json data -->
<!-- <h1>Resource info from assets/data.json</h1>
<h2>Name of resource number 1</h2>
<p>
    {{ resourceInfo[0]['name'] | json }}
</p>
<h2>Resource number 1</h2>
<p>
  {{ resourceInfo[0] | json }}
</p>
<h2>All resources</h2>
<p>
    {{ resourceInfo | json }}
</p>
<p>.</p>  -->
  
