<mat-card class="example-card">
    <mat-card-header class="text-white">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>A Resource</mat-card-title>
      <mat-card-subtitle>Book/Course/Video</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image 
        src="https://images.unsplash.com/photo-1517148892120-4d2da39c8dc1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2487&q=80" 
        alt="Photo of Birmingham Library ironwork">
    
  </mat-card>
