<div class="flex">
    <div class="m-auto">

        <mat-card class="mt-20 p-4 w-80">

            <mat-card-title>Register Here</mat-card-title>
            <mat-card-subtitle>Enter your email and password</mat-card-subtitle>

            <form action="" class="flex flex-col">

                <mat-card-content>
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" placeholder="Enter email" required>
                    </mat-form-field>
        
                    <mat-form-field appearance="fill">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" placeholder="Enter password" required>
                    </mat-form-field>      
                </mat-card-content>

                <mat-divider></mat-divider>

                <mat-card-actions class="mt-2">
                    <button (click)="register()" type="submit" color="warn" mat-raised-button>
                        @if (isLoading) {
                            <mat-spinner diameter="30"></mat-spinner>
                        } @else {
                            <span>Login</span>
                        } 
                    </button>
                </mat-card-actions>

            </form>

        </mat-card>

    </div>
</div>
