<div class="display-center flex">
    <div class="flex-columns">
        <div><app-single-resource></app-single-resource></div>
        <div><app-single-resource></app-single-resource></div>
        <div><app-single-resource></app-single-resource></div>
        <div><app-single-resource></app-single-resource></div>
        <div><app-single-resource></app-single-resource></div>
        <div><app-single-resource></app-single-resource></div>
        <div><app-single-resource></app-single-resource></div>
        <div><app-single-resource></app-single-resource></div>
        <div><app-single-resource></app-single-resource></div>
        <div><app-single-resource></app-single-resource></div>
        <div><app-single-resource></app-single-resource></div>
        <div><app-single-resource></app-single-resource></div>
        <div><app-single-resource></app-single-resource></div>
        <div><app-single-resource></app-single-resource></div>
        <div><app-single-resource></app-single-resource></div>
    </div>
</div>