<mat-grid-list cols="3" gutterSize="10">
    <mat-grid-tile><app-single-resource></app-single-resource></mat-grid-tile>
    <mat-grid-tile><app-single-resource></app-single-resource></mat-grid-tile>
    <mat-grid-tile><app-single-resource></app-single-resource></mat-grid-tile>
    <mat-grid-tile><app-single-resource></app-single-resource></mat-grid-tile>
    <mat-grid-tile><app-single-resource></app-single-resource></mat-grid-tile>
    <mat-grid-tile><app-single-resource></app-single-resource></mat-grid-tile>
  </mat-grid-list>