<mat-card class="m-8">
    <div class="p-4">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>{{resourceData.name | titlecase}}</mat-card-title>
                <mat-card-subtitle>{{resourceData.category | titlecase}}</mat-card-subtitle>
                <a href="{{resourceData.website}}" target="_blank">
                    <img mat-card-md-image 
                        class="pb-2"
                        src="{{resourceData.imageUrl}}"
                        alt="Resource logo linking to their website">
                </a>
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            {{resourceData.description}}
            <br><br>
            <mat-card-subtitle>Click on image to visit the website...</mat-card-subtitle>

        </mat-card-content>
    </div>
    <mat-card-footer class="p-4">
        <mat-chip-listbox aria-label="Tag selection">
            <mat-chip-option disabled>JS</mat-chip-option>
            <mat-chip-option disabled>TS</mat-chip-option>
            <mat-chip-option selected disabled>{{resourceData.tag | titlecase}}</mat-chip-option>
            <mat-chip-option disabled>React</mat-chip-option>
          </mat-chip-listbox>
    </mat-card-footer>
  </mat-card>
