<mat-card class="example-card">
    <div class="padding-extra">
        <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>{{resourceData.name}}</mat-card-title>
            <mat-card-subtitle>{{resourceData.category}}</mat-card-subtitle>
            <img mat-card-md-image src="{{resourceData.imageUrl}}" >
        </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            {{resourceData.description}}
        </mat-card-content>
    </div>
    <mat-card-footer class="padding-extra">
        <mat-chip-listbox aria-label="Tag selection">
            <mat-chip-option>JS</mat-chip-option>
            <mat-chip-option>TS</mat-chip-option>
            <mat-chip-option color="accent" selected>{{resourceData.tag}}</mat-chip-option>
            <mat-chip-option color="warn">React</mat-chip-option>
          </mat-chip-listbox>
    </mat-card-footer>
  </mat-card>
