<mat-toolbar color="primary" class="flex justify-between p-4">
  <a routerLink="home" 
      class="text-white" 
      aria-label="branding button to back home" 
      matTooltip="Home">bōc-hord</a>

  <div class="demo-section">
    
    <button mat-icon-button 
            [matMenuTriggerFor]="menu" 
            aria-label="icon button for the menu"
            matTooltip="Info about the action"
            matTooltip="Menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <mat-nav-list>
          @for (nav of navList; track nav) {
            <a 
              mat-list-item 
              routerLink="./{{  nav | lowercase}}">
              {{nav}}
            </a>
            }
        </mat-nav-list>
    </mat-menu>


    @if(isAuthenticated()) {
      <button mat-icon-button 
              (click)="logout()" 
              class="mx-4" 
              aria-label="icon button for logging out"
              matTooltip="Logout">
        <mat-icon>exit_to_app</mat-icon>
      </button>
  }

  </div>

</mat-toolbar>

<router-outlet></router-outlet>
