<mat-card class="example-card">
    <div class="padding-extra">
        <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>Welcome to bōc-hord</mat-card-title>
            <mat-card-subtitle>Engineering Resources</mat-card-subtitle>
            <img mat-card-md-image 
                src="https://images.unsplash.com/photo-1546410531-bb4caa6b424d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2342&q=80"
                alt="Image with 'Love to Learn' text">
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            <p>
                <strong>bōc-hord</strong> is an Old English word meaning library or collection of books.
            </p>
            <p>
                Here you will find unofficial resources recommended by your peers. 
                These will typically consist of YouTube videos, books, online courses, etc.
            </p>
            
        </mat-card-content>
    </div>
    <mat-card-footer class="padding-extra">
    </mat-card-footer>
  </mat-card>
