<mat-card class="m-8">
    <div class="p-4">
        <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>Welcome to bōc-hord</mat-card-title>
            <mat-card-subtitle>Engineering Resources</mat-card-subtitle>
            
            </mat-card-title-group>
        </mat-card-header>
        <div class="mt-4 ml-4">
            <img mat-card-md-image 
                class="pb-4"
                src="../../assets/images/books.jpg"
                alt="Image with 'Love to Learn' text">
        </div>
        <mat-card-content>
            <p>
                <strong>bōc-hord</strong> is an Old English word meaning library or collection of books.
            </p>
            <p>
                Here you will find unofficial resources recommended by your peers. 
                These will typically consist of YouTube videos, books, online courses, etc.
            </p>
            
        </mat-card-content>
    </div>
    <mat-card-footer class="p-4">
    </mat-card-footer>
  </mat-card>
